---
layout: page
title: "Contact"
description: "Contact Form. Send a note to Scrawlon owner, Scott McGrath"
tags: []
header_image: do-code
---


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-10">

        <h2>Get in touch</h2>
        <p>
          Have a question or concern? Send a message in the form below.
          You can also follow me on social media.
        </p>

        <div class="text-center p-3">
          {% include social_networks.html %}
        </div>

        {% include contact_form.html %}
      </div>
    </div>
  </section>
