---
layout: home
description: "Programming blog and professional portfolio of Baltimore-area
web developer, Scott McGrath"
tags: [code ruby javascipt programming]
blog_list_limit: 3
---

<section>
  <div class="container">
    <div class="row">
      <h1 class="col-lg-12 p-3">Latest Posts</h1>
      <div class="col-md-12">
        {% include blog_list.html %}
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <a class="col-md-6 p-3" href="/blog"><button type="button" class="btn btn-primary btn-lg btn-block">View more posts</button></a>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <h1 class="col-lg-12 p-3">Featured Projects</h1>
      {% include project_grid.html %}
    </div>
    <div class="row d-flex justify-content-center">
      <a class="col-md-6 p-3" href="/portfolio"><button type="button" class="btn btn-primary btn-lg btn-block col-md-12">View more projects</button></a>
    </div>
  </div>
</section>
