---
layout: home
description: "Programming blog and professional portfolio of Baltimore-area
web developer, Scott McGrath"
tags: [code ruby javascipt programming]
blog_list_limit: 3
---

<section class="container">
  <div class="block-wrapper project-preview-header row">
    <h1 class="col-lg-12 p-3">Latest Posts</h1>

    {% include blog_list.html %}

    <div>
      <div class="backdrop"></div>
      <a href="/blog"><h2><span class="text-highlight">Read more posts...</span></h2></a>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <h1 class="col-lg-12 p-3">Featured Projects</h1>

    {% assign projects_featured = site.portfolio_projects | where: 'featured', 'true' %}
    {% for project in projects_featured limit:3 %}
      <div class="col-lg-6 col-md-12">
        <a href="{{ project.url | replace: '/portfolio_projects/', '/portfolio/' }}">
          <img src="{{ site.url }}/images/thumbnails/{{ project.screenshot }}" alt="{{ project.title }}">
        </a>
      </div>
    {% endfor %}
    <div class="col-lg-6 col-md-12">
      <a href="/portfolio"><h2>View More Projects</h2></a>
    </div>
  </div>
</section>
