
.figcaption {
  z-index: 2;

  &__slider {

    &--background {
      position: absolute;
      bottom: 3px;
      right: 10px;
      color: #fff;

      a {
        color: #fff;

        &:hover, &:visited {
          color: #fff;
        }
      }
    }
  }
}
