
.figure {

  &__slider {

    &--background {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      &:before {
        background-color: #dc402b;
        bottom: 0;
        content: '';
        mix-blend-mode: overlay;
        left: 0;
        right: 0;
        position: absolute;
        top: 0;
        z-index: 2;
        // opacity: .2;
      }

      &:after {
        background: #dc402b;
        bottom: 0;
        content: '';
        mix-blend-mode: saturation;
        left: 0;
        right: 0;
        position: absolute;
        top: 0;
        // z-index: 1;
        // opacity: 0;
      }
    }
  }
}
