
.slider {
  width: 100%;
  height: 600px;
  border-bottom: 20px solid #5defff;
  background: #88169d;

  &__slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  &__slide-link {
    display: block;
  }

  &__slide-title {
    background: rgba(255,255,255,.95);
    // mix-blend-mode: luminosity;
    display: inline-block;
    padding: 4px 12px 6px;
    border-radius: 5px;
  }

  &__slide-content {
  }

  &__slide-illustration {
    background: #67effc;
    padding: 2px;
    border-radius: 10px;

    &-title {
      position: absolute;
      bottom: 24px;
      color: #fff;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    @media (max-width: 575.98px) {
      display: none;
    }
  }
}
