
<div class="list-group list-group-flush">
  {% for post in site.posts limit: page.blog_list_limit %}
    <div class="list-group-item">
      <div class="row">
        <div class="col-lg-4">
          {% assign slide_image = site.data.images[post.header_image] %}
          <a href="{{ site.url }}{{ post.url }}">
            <img class="img__background" src="{{ slide_image.file }}" alt="{{ slide_image.description }}">
          </a>
        </div>
        <div class="col-lg-8">
          <small>{{ post.date | date: "%m/%d/%y" }}</small>
          <a href="{{ site.url }}{{ post.url }}"><h2>{{ post.title }}</h2></a>
          <p>
            {{ post.description }}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
