{% if include.image.caption %}
  <figcaption class="figcaption figcaption__slider--background small">
    {% if include.image.caption.source.url %}
      <a href="{{ include.image.caption.source.url }}" title="{{ include.image.title}}" target="_blank" rel="noopener noreferrer">
        "{{ include.image.title }}"
      </a>
    {% else %}
      "{{ include.image.title }}"
    {% endif %}
    {% if include.image.caption.owner.url %}
      <a href="{{ include.image.caption.owner.url }}" title="{{ include.image.caption.owner.name }}" target="_blank" rel="noopener noreferrer">
        by {{ include.image.caption.owner.name }}
      </a>
    {% else %}
      by {{ include.image.caption.owner.name }}
    {% endif %}
    {% if include.image.caption.license.type %}
      <a href="{{ include.image.caption.license.url }}" title="{{ include.image.caption.license.type}}" target="_blank" rel="noopener noreferrer">
        (license)
      </a>
    {% endif %}
  </figcaption>
{% endif %}
