<nav class="nav navbar navbar-expand-sm navbar-light nav">
  <div class="container container__nav">
    <!-- Logo Home Link -->
    {% for home in site.home %}
      <a class="link link__navbar" href="{{ site.url }}{{ home.url }}">ScrawlOn</a>
    {% endfor %}
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav__navbar">
        {% for link in site.links %}
    	    <li class="nav-item">
            {% if page.url == link.url %}
              <span class="current-page-link">{{ link.title }}</span>
            {% else %}
              <a href="{{ site.url }}{{ link.url }}" class="link link__navbar {{ nav_class }}" title="{{ link.title }}">
                {{ link.title }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
