<!-- Slider  -->
<div class="swiper-container slider">
  <div class="swiper-wrapper">
    {% assign slides_by_order = site.slides_home | sort: 'order' %}
    {% for slide in slides_by_order %}
      <div class="swiper-slide slider__slide">
        {% if slide.background-image %}
          {% assign background-image = site.data.images[slide.background-image] %}
          <figure class="figure figure__slider--background">
            <img class="img img__slider--background" src="{{ site.url }}/{{ background-image.file }}" alt="{{ background-image.description }}" />

            {% include image_caption.html image=background-image %}
          </figure>
        {% endif %}

        {{slide.content}}
      </div>
    {% endfor %}
  </div>

  {% if site.slides_home.length > 1 %}
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  {% endif %}
</div>
