<!-- Slider  -->
<div id="home-swiper" class="swiper-container slider">
  {% assign background-image = site.data.images[page.header_image] %}
  <figure class="parallax-bg figure figure__slider--background">
    <img class="img img__background img__background--slider" src="{{ site.url }}/{{ background-image.file }}" alt="{{ background-image.description }}" />

    {% include image_caption.html image=background-image %}
  </figure>

  <div class="swiper-wrapper">
    {% assign slides_by_order = site.slides_home | sort: 'order' %}
    {% for slide in slides_by_order %}
      <div class="swiper-slide slider__slide">
        {{slide.content}}
      </div>
    {% endfor %}
  </div>

  {% if site.slides_home.size > 1 %}
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-pagination"></div>
  {% endif %}
</div>
