.main-header {
  position: absolute;
  z-index: 9;
  width: 100vw;

  // @media only screen and #{$landscape} {
  //   position: fixed;
  // }
}

header {
  height: 38vh;
  min-height: 300px;
  max-height: 700px;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-color: black;
  color: white;
  margin-top: 0;

  @media only screen and #{$tablet} {
    height: 40vh;
    min-height: 350px;
  }
  @media only screen and #{$landscape} {
    height: 50vh;
  }


  &.not-ios {
    background-attachment: fixed;
  }

  &.full-height {
    height: 68vh;

    @media only screen and #{$tablet} {
      height: 44vh;
    }
  }

  a {
    color: white;
  }

  time {
    display: none;
  }

  .wrapper {
    position: relative;

    .page-heading-wrapper {
      position: absolute;
      top: 88px;
      width: 100%;
      // background: #000;
      // padding: 10px;
      // border-radius: 10px;

      @media only screen and #{$tablet} {
        top: 115px;
      }

      @media only screen and #{$landscape} {
        top: 150px;
      }
    }

    h1 {
      padding: 30% 0 0;
      // opacity: 0;
      // -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
      // -moz-animation:fadeIn ease-in 1;
      // animation:fadeIn ease-in 1;
      //
      // -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
      // -moz-animation-fill-mode:forwards;
      // animation-fill-mode:forwards;
      //
      // -webkit-animation-duration:2s;
      // -moz-animation-duration:2s;
      // animation-duration:2s;

      @media only screen and #{$landscape} {
        padding: 20% 0 0;
      }

      &.page {
        background: transparent;
        font-size: 6rem;
        font-weight: normal;
        line-height: 1em;
        text-align: center;
        text-transform: uppercase;
        border-bottom: none;
        padding: 0 0 0 10px;
        width: 100%;
        position: absolute;

        @media only screen and #{$landscape} {
          text-align: left;
          overflow: hidden; /* Ensures the content is not revealed until the animation */
          white-space: nowrap; /* Keeps the content on a single line */
          width: auto;
          color: #fff;
          border-right: .1em solid #000; /* The typwriter cursor */
          background: transparent;
          /* typewriter effect: https://css-tricks.com/snippets/css/typewriter-effect/ */
          -webkit-animation:
            typing 5s steps(44) 1s 1 normal both,
            blink-caret .95s step-end 4;
          -moz-animation:
            typing 5s steps(44) 1s 1 normal both,
            blink-caret .95s step-end 4;
          animation:
            typing 5s steps(44) 1s 1 normal both,
            blink-caret .95s step-end 4;

          /* The typing effect */
          @-webkit-keyframes typing {
            0% { max-width: 0; background: transparent }
            10% { background: #000 }
            100% { max-width: $readable-width; background: #000 }
          }
          @-moz-keyframes typing {
            0% { max-width: 0; background: transparent }
            10% { background: #000 }
            100% { max-width: $readable-width; background: #000 }
          }
          @keyframes typing {
            0% { max-width: 0; background: transparent }
            10% { background: #000 }
            100% { max-width: $readable-width; background: #000 }
          }

          /* The typewriter cursor effect */
          @-webkit-keyframes blink-caret {
            from, to { border-color: #1c0055 }
            50% { border-color: #fff; }
          }
          @-moz-keyframes blink-caret {
            from, to { border-color: #1c0055 }
            50% { border-color: #fff; }
          }
          @keyframes blink-caret {
            from, to { border-color: #1c0055 }
            50% { border-color: #fff; }
          }
        }
      }

      // @-webkit-keyframes fadeIn {
      //   0% { opacity:0; }
      //   100% { opacity:1; }
      // }
      // @-moz-keyframes fadeIn {
      //   0% { opacity:0; }
      //   100% { opacity:1; }
      // }
      // @keyframes fadeIn {
      //   0% { opacity:0; }
      //   100% { opacity:1; }
      // }
    }

    h2 {
      &.subheading {
        padding: 5px 0;
      }
    }

    .page-header-underline {
      height: 0;
      color: #FFF;
      background: #FFF;
      border: 0;
      font-size: 0;
      margin: 72px 0 0;

        @media only screen and #{$landscape} {
          height: 2px;
        }
    }
  }
}

.top-header {
  display: none;
}


@media only screen and #{$tablet} {
  header {
    time {
      display: inline;
    }
  }
}


@media only screen and #{$landscape} {
  .top-header {
    display: block;
    background: #000;
    color: #fff;

    ul {
      &.social-icons {
        margin: 0 auto;
        list-style-type: none;
        text-align: center;
        width: auto;

        li {
          display: inline-block;
          margin-right: 4.5em;

          a {
            color: #fff;
          }
        }
      }
    }
  }
}
