{% include header.html %}
{% assign background_image = "{{ site.url }}/images/blue-geometric-pattern.svg" %}

<header>
  {% include slides_post.html %}
</header>

<main class="main" role='main'>
  <section class="post">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-md-1">
          {% include share_post.html %}

          {% if page.author %}
            <div class="byline">
              Written by {{ page.author }} - {{ page.date | date: "%m/%d/%Y" }}
            </div>
          {% endif %}

          {{ content }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 offset-md-1">
        <nav class="pagination">
          {% if page.previous %}
            <a class="prev-post" href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">&lt; prev post</a>
          {% endif %}

          {% if page.next %}
            <a class="next-post" href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">next post &gt;</a>
          {% endif %}
        </nav><!-- /.pagination -->
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-lg-10 offset-md-1">
        {% if page.comments %}
          {% include comments.html %}
        {% endif %}
      </div>
    </div>
  </section>
</main>

{% include footer.html %}
